/* Reset default margins and paddings */
body, html {
  margin: 0;
  padding: 0;
  background-color: black;
}

.app-container {
  width: 100%;
  display: flex;
}

.left-sidebar {
  flex: 0 0 250px; /* Fixed width for the left sidebar */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #fafafa;
  border-right: 1px solid #ccc;
  overflow-y: auto; /* Enable scrolling if content exceeds sidebar height */
}

.content-container {
  width: 100%;
  flex: 1;
  margin-left: 250px; /* Width of the left sidebar */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Hide overflow to prevent scrollbar from appearing in the content area */
}

.reels-bar {
  position: fixed;
  top: 0;
  left: 250px; /* Width of the left sidebar */
  width: calc(100% - 250px); /* Calculate width minus the sidebar */
  z-index: 1; /* Ensure "Reels" bar is above other content */
}

.timeline {
  flex: 1;
  overflow-y: auto; /* Enable scrolling for the timeline content */
  padding: 20px;
  margin-top: 35px;
}
